.layoutContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  min-height: 100vh;
  padding: 20px;
}

.leftSide {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.leftTop {
  height: 35vh;
  border-radius: 8px;
}

.leftBottom {
  flex-grow: 1;
  border-radius: 8px;
}

.rightSide {
  display: flex;
  flex-direction: column;
  grid-column: 2/5;
  gap: 20px;
}

.topBoxes {
  display: grid;
  grid-template-columns: repeat(3, 290px);
  gap: 20px;
}

.topBox {
  height: 140px;
  background-color: #B5DEFF;
  border-radius: 8px;
}

.middleBoxes {
  display: grid;
  grid-template-columns: 65% 1fr;
  gap: 20px;
}

.middleBox {
  height: 330px;
  border-radius: 8px;
}

